.collection {
  padding: 100px 0;
  width: 100%;
}

.collection .collection__container {
  position: relative;
  text-align: center;
}

.collection .collection__title-bg {
  font-family: "Fraunces";
  font-size: 150px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(131, 136, 143, 0.5)), to(rgba(254, 252, 247, 0)));
  background: linear-gradient(180deg, rgba(131, 136, 143, 0.5) 0%, rgba(254, 252, 247, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
}

.collection .collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-top: -50px;
}

.collection .collection__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.collection .collection__item:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.collection .collection__item:active {
  border-radius: 10px;
  background-color: #3aa83a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.collection .collection__img {
  width: 100%;
  width: 250px;
  margin-bottom: 30px;
}

.collection .collection__img:active {
  width: 100%;
  width: 250px;
  margin-bottom: 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.collection .collection__name {
  font-family: "Fraunces";
  font-size: 24px;
  color: #333d4b;
  margin-bottom: 24px;
}

.collection .collection__text {
  font-family: "Barlow";
  font-size: 16px;
  line-height: 1.6;
  color: #333d4b;
  max-width: 255px;
  margin: 0 auto;
}

@media only screen and (max-width: 375px) {
  .collection {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .collection .collection__title-bg {
    width: 100%;
    font-family: "Fraunces";
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(131, 136, 143, 0.5)), to(rgba(254, 252, 247, 0)));
    background: linear-gradient(180deg, rgba(131, 136, 143, 0.5) 0%, rgba(254, 252, 247, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: lowercase;
    z-index: -100;
  }
  .collection .collection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 750px) {
  .collection {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .collection .collection__title-bg {
    width: 100%;
    font-family: "Fraunces";
    font-size: 110px;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(131, 136, 143, 0.5)), to(rgba(254, 252, 247, 0)));
    background: linear-gradient(180deg, rgba(131, 136, 143, 0.5) 0%, rgba(254, 252, 247, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: lowercase;
    z-index: -100;
  }
  .collection .collection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collection .collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  width: 100%;
  margin-top: 100px;
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2c343e;
  height: 120px;
  border-radius: 20px 20px 0 0;
}

.footer .footer__logo {
  width: 236px;
  height: 26px;
}

.footer .footer__list {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.footer .footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.footer .footer__link:hover {
  color: #ffffff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 375px) {
  .footer {
    margin-top: 60px;
  }
  .footer .footer__container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 54px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 20px 20px 0 0;
    margin: auto;
  }
  .footer .footer__logo {
    margin-bottom: 48px;
  }
  .footer .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    margin: 0 0 48px 0;
  }
  .footer .footer__link {
    font-size: 12px;
    text-align: center;
  }
  .footer .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 750px) {
  .footer {
    margin-top: 60px;
  }
  .footer .footer__container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 54px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 20px 20px 0 0;
    margin: auto;
    margin-top: 200px;
  }
  .footer .footer__logo {
    margin-bottom: 48px;
  }
  .footer .footer__list {
    gap: 24px;
    margin: 0 0 48px 0;
  }
  .footer .footer__link {
    font-size: 12px;
    text-align: center;
  }
  .footer .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav,
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

nav .navbar__list,
.navbar__list .navbar__list {
  gap: 50px;
}

nav .navbar__link,
.navbar__list .navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

nav .navbar__link:hover,
.navbar__list .navbar__link:hover {
  color: #000000;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

nav .header__logo,
.navbar__list .header__logo {
  width: 236px;
  height: 26px;
}

nav .navbar__burger,
.navbar__list .navbar__burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

nav .navbar__burger div,
.navbar__list .navbar__burger div {
  width: 20px;
  height: 3px;
  border-radius: 10px;
  background-color: black;
}

@media (max-width: 375px) {
  .header {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px auto;
  }
  .header .navbar__list {
    display: none;
  }
  .header .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .header .navbar__burger {
    width: 100%;
  }
  .header .header__logo {
    width: 180px;
    height: auto;
  }
}

@media (max-width: 750px) {
  .header {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px auto;
  }
  .header .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar__burger {
    display: none;
  }
  .header .navbar__burger {
    width: 100%;
  }
  .header .header__logo {
    width: 180px;
    height: auto;
  }
}

.number {
  width: 100%;
}

.number .number__container {
  margin-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number .number__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-bottom: 50px;
  color: #83888f;
}

.number .number__img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 791px;
  height: 30px;
}

.number .number__num {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  color: #fdd6ba;
}

.number .number__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 175px;
  margin: 50px 0;
}

.number .number__item {
  width: 280px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number .number__title-item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  color: #333d4b;
  margin: 30px 0;
}

.number .number__text-item {
  width: 375px;
  height: 130px;
}

.number .number__text-item {
  width: 285px;
  height: 130px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333d4b;
}

.number .number__btn {
  position: absolute;
  top: 2600px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 217px;
  height: 56px;
  border: none;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 17px;
  color: white;
  margin-top: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.number .number__btn:hover {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.number .number__btn:active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
  color: #66d2cf;
}

@media only screen and (max-width: 375px) {
  .number {
    width: 100%;
    overflow: hidden;
  }
  .number .number__container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .number {
    padding-top: 80px;
  }
  .number .number__container {
    margin-top: 0;
  }
  .number .number__img {
    display: none;
  }
  .number .number__items {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    margin: 40px 0;
  }
  .number .number__item {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .number .number__text-item {
    width: 100%;
    height: auto;
  }
  .number .number__btn {
    position: static;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .number {
    width: 100%;
    overflow: hidden;
  }
  .number .number__container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
  .number {
    padding-top: 80px;
  }
  .number .number__img {
    display: none;
  }
  .number .number__items {
    width: 100%;
    gap: 50px;
    margin: 40px 0;
  }
  .number .number__item {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .number .number__btn {
    background-color: #0e8784;
  }
  .number .number__num {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .number .number__text-item {
    width: 100%;
    height: auto;
  }
  .number .number__btn {
    position: static;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: beige;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.intro .intro__container {
  background-image: url("../images/bitmap (5).png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 80px;
  margin-top: 30px;
}

.intro .intro__title {
  width: 500px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.intro .intro__text {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 30px 0;
}

.intro .intro__btn {
  width: 217px;
  height: 56px;
  border: none;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 17px;
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.intro .intro__btn:hover {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro .intro__btn:active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
  color: #66d2cf;
}

@media (max-width: 375px) {
  .intro__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__container .intro__title {
    width: 250px;
    margin: auto;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    color: #fefcf7;
    text-align: center;
  }
  .intro__container .intro__text {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 30px 0;
    text-align: center;
  }
  .intro__container .intro__btn {
    width: 70%;
    height: 50px;
    border: none;
    background: #0e8784;
    border-radius: 6px;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 17px;
    color: white;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    margin: 0 35px;
  }
}

@media (max-width: 750px) {
  .intro__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__container .intro__title {
    width: 320px;
    margin: 0 10px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 35px;
    color: #fefcf7;
  }
  .intro__container .intro__text {
    width: 70%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 30px 10px;
  }
  .intro__container .intro__btn {
    width: 217px;
    height: 50px;
    border: none;
    background: #0e8784;
    border-radius: 6px;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 17px;
    color: white;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    margin: 0 10px;
  }
}

.promo {
  width: 100%;
}

.promo .promo__container {
  position: relative;
}

.promo .promo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  background-color: #2c343e;
  height: 500px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.promo .promo__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fefcf7;
}

.promo .promo__text {
  width: 530px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 100px;
}

.promo .promo__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo .promo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 100px;
  width: 350px;
  height: 320px;
  background-color: #0e8784;
  border-radius: 5px;
  color: white;
}

.promo .promo__card:nth-child(1) {
  position: absolute;
  right: 820px;
  top: 300px;
  width: 350px;
  height: 320px;
  background-color: #0e8784;
  border-radius: 5px;
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.promo .promo__card:nth-child(1):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.promo .promo__card:nth-child(2) {
  position: absolute;
  right: 420px;
  top: 300px;
  width: 350px;
  height: 320px;
  background-color: #0e8784;
  border-radius: 5px;
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.promo .promo__card:nth-child(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.promo .promo__card:nth-child(3) {
  position: absolute;
  right: 30px;
  top: 300px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.promo .promo__card:nth-child(3):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.promo .promo__title-card {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #fefcf7;
}

.promo .promo__logo {
  width: 62px;
  height: 62px;
  margin: 25px 0;
}

.promo .promo__text-card {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #fefcf7;
  margin: 20px 0;
}

.our {
  width: 100%;
  margin-top: 80px;
}

.our__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
}

.our__img {
  margin-left: 70px;
  border-radius: 20px;
}

.our__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #333d4b;
}

.our__text {
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 30px 0;
}

@media (max-width: 375px) {
  .our__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .our__container .our__img {
    width: 100%;
    margin: auto;
  }
  .our__container .our__title {
    width: 90%;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height, or 120% */
    margin: 30px auto;
    color: #333d4b;
    text-align: center;
  }
  .our__container .our__text {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* or 162% */
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: auto;
    text-align: center;
  }
  .our__container .our__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .our__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .our__container .our__img {
    width: 280px;
    height: 470px;
    margin: auto;
  }
  .our__container .our__title {
    width: 90%;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 35px;
    /* identical to box height, or 120% */
    margin: 30px auto;
    color: #333d4b;
  }
  .our__container .our__text {
    width: 90%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    /* or 162% */
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: auto;
  }
  .our__container .our__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}

.intro3 {
  background-image: url("../images/Bitmap (3).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  border-radius: 10px;
  margin-top: 30px;
}

.intro3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro3__title {
  width: 500px;
  height: 150px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.intro3__text {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media (max-width: 375px) {
  .intro3 {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro3 .intro3__title {
    width: 250px;
    margin: auto;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    color: #fefcf7;
    text-align: center;
  }
  .intro3 .intro3__text {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .intro3__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .intro3__container .intro3__title {
    width: 320px;
    margin: 0 10px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 35px;
    color: #fefcf7;
  }
  .intro3__container .intro3__text {
    width: 70%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0 10px;
  }
}

.map {
  width: 100%;
  margin-top: 100px;
}

.map .map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map .map__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 150px;
  margin-top: 70px;
}

.map .map__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 250px;
}

.map .map__item:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: burlywood;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.map .map__item:active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff9100;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.map .map__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #83888f;
}

.map .map__title-item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */
  color: #333d4b;
  margin: 20px 0;
}

.map .map__text-item {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333d4b;
}

@media (max-width: 375px) {
  .map__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map__container .map__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 120px;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .map__container .map__title-item {
    width: 100%;
    text-align: center;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 36px;
    /* identical to box height, or 112% */
    color: #333d4b;
    margin: 20px 0;
  }
  .map__container .map__text-item {
    width: 100%;
    text-align: center;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #333d4b;
  }
  .map__container .map__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .map__container .map__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 750px) {
  .map__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .map__container .map__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-item-align: start;
        align-self: start;
    width: 100%;
  }
  .map__container .map__title-item {
    width: 10%;
    text-align: center;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 36px;
    /* identical to box height, or 112% */
    color: #333d4b;
    margin: 50px 0;
  }
  .map__container .map__text-item {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 162% */
    color: #333d4b;
  }
  .map__container .map__img {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    width: 50px;
    height: 50px;
  }
  .map__container .map__item {
    width: 15%;
  }
  .map__container .map__title {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    font-size: 34px;
  }
}

.quality {
  width: 100%;
  margin-top: 120px;
}

.quality .quality__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2c343e;
  border-radius: 10px;
}

.quality .quality__box {
  width: 1200px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 70px;
}

.quality .quality__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #fefcf7;
}

.quality .quality__text {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 30px 0;
}

.quality .quality__logo {
  position: absolute;
  top: 1170px;
  right: 350px;
  width: 400px;
  height: 400px;
}

@media (max-width: 375px) {
  .quality__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quality__container .quality__title {
    width: 20%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 25px;
    /* identical to box height, or 120% */
    margin: auto;
    color: #fefcf7;
    text-align: center;
    margin-top: 130px;
  }
  .quality__container .quality__text {
    width: 20%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: auto;
    text-align: center;
  }
  .quality__container .quality__logo {
    width: 220px;
    height: 156px;
    border-radius: 20px;
    position: absolute;
    top: 1300px;
    right: 45px;
  }
}

@media (max-width: 750px) {
  .quality__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }
  .quality__container .quality__title {
    width: 500px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 35px;
    /* identical to box height, or 120% */
    margin: auto;
    color: #fefcf7;
    margin-top: 190px;
  }
  .quality__container .quality__text {
    width: 540px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: auto;
    text-align: center;
  }
  .quality__container .quality__logo {
    width: 570px;
    height: 320px;
    border-radius: 20px;
    position: absolute;
    top: 1080px;
    right: 88px;
  }
}

.intro2 {
  background-image: url("../images/Bitmap (6).png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  border-radius: 10px;
  margin-top: 30px;
}

.intro2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro2__title {
  width: 500px;
  height: 150px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.intro2__text {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media (max-width: 375px) {
  .intro2 {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .intro2 .intro2__title {
    width: 250px;
    margin: auto;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    color: #fefcf7;
    text-align: center;
  }
  .intro2 .intro2__text {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 30px 0;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .intro2__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro2__container .intro2__title {
    width: 320px;
    margin: 0 10px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 35px;
    color: #fefcf7;
  }
  .intro2__container .intro2__text {
    width: 70%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 162% */
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 30px 10px;
  }
}

.work {
  width: 100%;
}

.work .work__container {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  height: 550px;
  background-color: #2c343e;
  border-radius: 10px;
}

.work .work__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-bottom: 50px;
  color: #ffffff;
}

.work .work__img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 791px;
  height: 30px;
  margin-top: 50px;
  margin-left: 30px;
}

.work .work__num {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  color: #fdd6ba;
}

.work .work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 150px;
  margin: 50px 0;
}

.work .work__item {
  width: 280px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .work__title-item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  color: #ffffff;
  margin: 30px 0;
}

.work .work__text-item {
  width: 375px;
  height: 130px;
}

.work .work__text-item {
  width: 285px;
  height: 130px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #c0c0c0;
}

@media (max-width: 375px) {
  .work__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #2c343e;
    border-radius: 10px;
  }
}

@media (max-width: 750px) {
  .work__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.plan {
  width: 100%;
  margin-top: 150px;
  padding-bottom: 120px;
}

.plan__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 125px;
}

.plan__navbar {
  width: 255px;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

.plan__item {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  color: rgba(131, 136, 143, 0.4);
  padding: 24px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
}

.plan__item:hover {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  color: rgba(131, 136, 143, 0.4);
  padding: 24px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.plan__item:active {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  color: #00ff0d;
  padding: 24px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.plan__num {
  margin-right: 28px;
}

.plan__item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #333d4b;
}

.plan__num {
  color: #0e8784;
}

.plan__num:hover {
  color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.plan__num:active {
  color: #09ff00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.plan__content {
  width: 730px;
}

.questions__group {
  margin-bottom: 90px;
}

.questions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.questions__subtitle {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #83888f;
}

.questions__cards-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
}

.questions__card {
  background-color: #f4f1eb;
  padding: 32px 28px 84px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.questions__card:hover {
  background-color: #fdd6ba;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.questions__card:active {
  background-color: #0e8784;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.questions__card-title {
  font-family: "Fraunces";
  font-size: 24px;
  color: #333d4b;
  margin-bottom: 24px;
}

.questions__card-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333d4b;
}

.questions__card-active .questions__card-title,
.questions__card-active .questions__card-text {
  color: #000000;
}

.summary {
  background-color: #2c343e;
  padding: 45px 60px;
  border-radius: 10px;
  margin-top: 88px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  color: #ffffff;
}

.summary__label {
  margin-bottom: 10px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.summary__text {
  font-family: "Fraunces";
  font-size: 24px;
  line-height: 40px;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
}

.summary__span {
  color: #0e8784;
}

.plan__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 40px;
}

.questions__btn {
  position: absolute;
  width: 217px;
  height: 56px;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  border: none;
  color: #fefcf7;
}

.questions__btn:hover {
  width: 230px;
  height: 76px;
  border: none;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 20px;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.questions__btn:active {
  width: 230px;
  height: 76px;
  border: none;
  background: #00fff7;
  border-radius: 6px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 17px;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 375px) {
  .plan__container {
    width: 90%;
  }
  .plan__container .plan__navbar {
    display: none;
  }
  .plan__container .questions__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan__container .questions__cards-row {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan__container .questions__subtitle {
    width: 100%;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 26px;
    /* identical to box height, or 120% */
    color: #83888f;
  }
}

@media (max-width: 750px) {
  .plan__container {
    width: 90%;
  }
  .plan__container .plan__navbar {
    display: none;
  }
  .plan__container .questions__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan__container .questions__cards-row {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan__container .questions__subtitle {
    width: 100%;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 26px;
    /* identical to box height, or 120% */
    color: #83888f;
  }
}
/*# sourceMappingURL=style.css.map */