.plan {
  width: 100%;
  margin-top: 150px;
  padding-bottom: 120px;
}

.plan__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 125px;
}

.plan__navbar {
  width: 255px;
  position: sticky;
  top: 40px;
}

.plan__item {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  color: rgba(131, 136, 143, 0.4);
  padding: 24px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
}
.plan__item:hover {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  color: rgba(131, 136, 143, 0.4);
  padding: 24px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
  transition: all 0.3s ease;
}
.plan__item:active {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  color: rgb(0, 255, 13);
  padding: 24px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
  transition: all 0.3s ease;
}

.plan__num {
  margin-right: 28px;
}

.plan__item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #333d4b;
}

.plan__num {
  color: #0e8784;
}
.plan__num:hover {
  color: #000000;
  transition: all 0.3s ease;
}
.plan__num:active {
  color: #09ff00;
  transition: all 0.3s ease;
}
.plan__content {
  width: 730px;
}

.questions__group {
  margin-bottom: 90px;
}

.questions__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.questions__subtitle {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #83888f;
}

.questions__cards-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.questions__card {
  background-color: #f4f1eb;
  padding: 32px 28px 84px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.questions__card:hover {
  background-color: #fdd6ba;
  transition: all 0.5s ease;
}

.questions__card:active {
  background-color: #0e8784;
  transition: all 0.5s ease;
}

.questions__card-title {
  font-family: "Fraunces";
  font-size: 24px;
  color: #333d4b;
  margin-bottom: 24px;
}

.questions__card-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #333d4b;
}

.questions__card-active .questions__card-title,
.questions__card-active .questions__card-text {
  color: #000000;
}

.summary {
  background-color: #2c343e;
  padding: 45px 60px;
  border-radius: 10px;
  margin-top: 88px;

  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #ffffff;
}

.summary__label {
  margin-bottom: 10px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.summary__text {
  font-family: "Fraunces";
  font-size: 24px;
  line-height: 40px;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
}

.summary__span {
  color: #0e8784;
}

.plan__actions {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.questions__btn {
  position: absolute;
  width: 217px;
  height: 56px;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  border: none;
  color: #fefcf7;
}

.questions__btn:hover {
  width: 230px;
  height: 76px;
  border: none;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease;
}
.questions__btn:active {
  width: 230px;
  height: 76px;
  border: none;
  background: #00fff7;
  border-radius: 6px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease;
}
@media (max-width: 375px) {
  .plan__container {
    width: 90%;

    .plan__navbar {
      display: none;
    }

    .questions__group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .questions__cards-row {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .questions__subtitle {
      width: 100%;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 27px;
      line-height: 26px;
      /* identical to box height, or 120% */

      color: #83888f;
    }
  }
}

@media (max-width: 750px) {
  .plan__container {
    width: 90%;

    .plan__navbar {
      display: none;
    }

    .questions__group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .questions__cards-row {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .questions__subtitle {
      width: 100%;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 27px;
      line-height: 26px;
      /* identical to box height, or 120% */

      color: #83888f;
    }
  }
}
