.work {
  width: 100%;

  .work__container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1200px;
    height: 550px;
    background-color: #2c343e;
    border-radius: 10px;
  }

  .work__title {
    align-self: start;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    margin-bottom: 50px;
    color: #ffffff;
  }

  .work__img {
    align-self: start;
    width: 791px;
    height: 30px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .work__num {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height, or 100% */

    color: #fdd6ba;
  }

  .work__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 50px 0;
  }

  .work__item {
    width: 280px;
    height: 330px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .work__title-item {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */

    color: #ffffff;
    margin: 30px 0;
  }

  .work__text-item {
    width: 375px;
    height: 130px;
  }

  .work__text-item {
    width: 285px;
    height: 130px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #c0c0c0;
  }
}

@media (max-width: 375px) {
  .work__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #2c343e;
    border-radius: 10px;
  }
}

@media (max-width: 750px) {
  .work__container {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: start;
  }
}
