.footer {
  width: 100%;
  margin-top: 100px;

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2c343e;
    height: 120px;
    border-radius: 20px 20px 0 0;
  }

  .footer__logo {
    width: 236px;
    height: 26px;
  }

  .footer__list {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .footer__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }

  .footer__link:hover {
    color: #ffffff;
    transition: all 1s ease;
  }
}
@media (max-width: 375px) {
  .footer {
    margin-top: 60px;

    .footer__container {
      width: 90%;
      flex-direction: column;
      height: auto;
      padding: 54px 0;
      justify-content: center;
      border-radius: 20px 20px 0 0;
      margin: auto;
    }

    .footer__logo {
      margin-bottom: 48px;
    }

    .footer__list {
      flex-direction: column;
      gap: 24px;
      margin: 0 0 48px 0;
    }

    .footer__link {
      font-size: 12px;
      text-align: center;
    }

    .footer__socials {
      display: flex;
      gap: 24px;
      align-items: center;
    }
  }
}

@media (max-width: 750px) {
  .footer {
    margin-top: 60px;

    .footer__container {
      width: 90%;
      flex-direction: column;
      height: auto;
      padding: 54px 0;
      justify-content: center;
      border-radius: 20px 20px 0 0;
      margin: auto;
      margin-top: 200px;
    }

    .footer__logo {
      margin-bottom: 48px;
    }

    .footer__list {
      gap: 24px;
      margin: 0 0 48px 0;
    }

    .footer__link {
      font-size: 12px;
      text-align: center;
    }

    .footer__socials {
      display: flex;
      gap: 24px;
      align-items: center;
    }
  }
}
