.footer {
  width: 100%;
  margin-top: 150px;
  background-color: #2c343e;

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
  }

  .footer__logo {
    width: 236px;
    height: 26px;
  }

  .footer__list {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .footer__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
    transition: all 0.8s ease;
  }

  .footer__link:hover {
    color: #ffffff;
    transition: all 0.8s ease;
  }
}
@media only screen and (max-width: 480px) {
  .container,
  .promo__container,
  .work__container,
  .footer__container {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo {
    .promo__box {
      width: 100%;
      height: auto;
      padding: 60px 20px 140px 20px;
    }

    .promo__text {
      width: 100%;
    }

    .promo__cards {
      width: 100%;
      flex-direction: column;
      gap: 24px;
      margin-top: -100px;
    }

    .promo__card,
    .promo__card:nth-child(1),
    .promo__card:nth-child(2),
    .promo__card:nth-child(3) {
      position: static;
      width: 100%;
      height: auto;
      padding: 40px 20px;
      margin: 0;
    }
  }

  .work {
    .work__img {
      display: none;
    }

    .work__items {
      width: 100%;
      flex-direction: column;
      gap: 50px;
    }

    .work__item {
      width: 100%;
      text-align: center;
    }

    .work__text-item {
      width: 100%;
      height: auto;
    }

    .work__btn {
      position: static;
      margin: 40px auto 0 auto;
    }
  }

  .footer {
    padding: 50px 0;

    .footer__container {
      height: auto;
      gap: 50px;
    }

    .footer__logo {
      width: 200px;
      height: auto;
    }

    .footer__list {
      flex-direction: column;
      gap: 25px;
      padding: 0;
    }

    .footer__apps {
      width: 120px;
      height: auto;
    }
  }
}
