* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}
