.intro {
  background-image: url("../images/bitmap\ \(2\).png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;

  .intro__container {
    display: flex;
    flex-direction: column;
  }

  .intro__left {
    margin: 70px 100px;
  }

  .intro__title {
    width: 500px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
  }

  .intro__text {
    width: 445px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 30px 0;
  }

  .intro__btn {
    width: 217px;
    height: 56px;
    border: none;
    background: #66d2cf;
    border-radius: 6px;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 17px;
    color: white;
    transition: all 1s ease;
  }

  .intro__btn:hover {
    transition: all 0.8s ease;
    transform: scale(1.1);
  }

  .intro__btn:active {
    transition: all 0.3s ease;
    background-color: white;
    color: #66d2cf;
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .intro__left {
      margin: 20px 30px;
    }

    .intro__title {
      width: 100%;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 42px;
      line-height: 42px;
      color: #fefcf7;
      text-align: center;
    }

    .intro__text {
      width: 100%;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */

      color: #fefcf7;

      mix-blend-mode: normal;
      opacity: 0.8;
      text-align: center;
      margin: 30px 0;
    }

    .intro__btn {
      width: 70%;
      height: 56px;
      border: none;
      background: #0e8784;
      border-radius: 6px;
      font-family: "Fraunces";
      font-weight: 700;
      font-size: 17px;
      color: white;
      transition: all 1s ease;
      margin: 0 50px;
    }
  }
}
