.intro {
  .intro__container {
    background-image: url("../images/bitmap\ \(5\).png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 80px;
    margin-top: 30px;
  }

  .intro__title {
    width: 500px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
  }

  .intro__text {
    width: 445px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 30px 0;
  }

  .intro__btn {
    width: 217px;
    height: 56px;
    border: none;
    background: #66d2cf;
    border-radius: 6px;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 17px;
    color: white;
    transition: all 1s ease;
  }

  .intro__btn:hover {
    transition: all 0.8s ease;
    transform: scale(1.1);
  }

  .intro__btn:active {
    transition: all 0.3s ease;
    background-color: white;
    color: #66d2cf;
  }
}

@media (max-width: 375px) {
  .intro__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .intro__title {
      width: 250px;
      margin: auto;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 28px;
      line-height: 35px;
      color: #fefcf7;
      text-align: center;
    }

    .intro__text {
      width: 100%;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      /* or 162% */

      color: #fefcf7;

      mix-blend-mode: normal;
      opacity: 0.8;
      margin: 30px 0;
      text-align: center;
    }

    .intro__btn {
      width: 70%;
      height: 50px;
      border: none;
      background: #0e8784;
      border-radius: 6px;
      font-family: "Fraunces";
      font-weight: 700;
      font-size: 17px;
      color: white;
      transition: all 1s ease;
      margin: 0 35px;
    }
  }
}

@media (max-width: 750px) {
  .intro__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .intro__title {
      width: 320px;
      margin: 0 10px;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 38px;
      line-height: 35px;
      color: #fefcf7;
    }

    .intro__text {
      width: 70%;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      /* or 162% */

      color: #fefcf7;

      mix-blend-mode: normal;
      opacity: 0.8;
      margin: 30px 10px;
    }

    .intro__btn {
      width: 217px;
      height: 50px;
      border: none;
      background: #0e8784;
      border-radius: 6px;
      font-family: "Fraunces";
      font-weight: 700;
      font-size: 17px;
      color: white;
      transition: all 1s ease;
      margin: 0 10px;
    }
  }
}
