nav,
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  .navbar__list {
    gap: 50px;
  }

  .navbar__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
    transition: all 0.7s ease;
  }

  .navbar__link:hover {
    color: #000000;
    transition: all 0.7s ease;
  }

  .header__logo {
    width: 236px;
    height: 26px;
  }

  .navbar__burger {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  }

  .navbar__burger div {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: black;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 25px;

    .navbar__list {
      display: none;
    }

    .navbar__burger {
      display: flex;
    }

    .header__logo {
      width: 170px;
      height: auto;
      margin: 5px 0;
    }
  }
}
