.number {
  width: 100%;

  .number__container {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .number__title {
    align-self: start;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    margin-bottom: 50px;
    color: #83888f;
  }

  .number__img {
    align-self: start;
    width: 791px;
    height: 30px;
  }

  .number__num {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height, or 100% */

    color: #fdd6ba;
  }

  .number__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 175px;
    margin: 50px 0;
  }

  .number__item {
    width: 280px;
    height: 330px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .number__title-item {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */

    color: #333d4b;
    margin: 30px 0;
  }

  .number__text-item {
    width: 375px;
    height: 130px;
  }

  .number__text-item {
    width: 285px;
    height: 130px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #333d4b;
  }

  .number__btn {
    position: absolute;
    top: 2600px;
    align-self: start;
    width: 217px;
    height: 56px;
    border: none;
    background: #66d2cf;
    border-radius: 6px;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 17px;
    color: white;
    margin-top: 20px;
    transition: all 1s ease;
  }

  .number__btn:hover {
    transition: all 0.8s ease;
    transform: scale(1.1);
  }

  .number__btn:active {
    transition: all 0.3s ease;
    background-color: white;
    color: #66d2cf;
  }
}

@media only screen and (max-width: 375px) {
  .number {
    width: 100%;
    overflow: hidden;

    .number__container {
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .number {
    padding-top: 80px;

    .number__container {
      margin-top: 0;
    }

    .number__img {
      display: none;
    }

    .number__items {
      width: 100%;
      flex-direction: column;
      gap: 50px;
      margin: 40px 0;
    }

    .number__item {
      width: 100%;
      height: auto;
      align-items: center;
      text-align: center;
    }

    .number__text-item {
      width: 100%;
      height: auto;
    }

    .number__btn {
      position: static;
      width: 100%;
      max-width: 280px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 750px) {
  .number {
    width: 100%;
    overflow: hidden;

    .number__container {
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
    }
  }

  .number {
    padding-top: 80px;

    .number__img {
      display: none;
    }

    .number__items {
      width: 100%;
      gap: 50px;
      margin: 40px 0;
    }

    .number__item {
      width: 100%;
      height: auto;
      align-items: center;
    }

    .number__btn {
      background-color: #0e8784;
    }

    .number__num {
      align-self: start;
    }

    .number__text-item {
      width: 100%;
      height: auto;
    }

    .number__btn {
      position: static;
      width: 100%;
      max-width: 280px;
      margin: 0 auto;
    }
  }
}
