.promo {
  width: 100%;

  .promo__container {
    position: relative;
  }

  .promo__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    background-color: #2c343e;
    height: 500px;
    border-radius: 10px;
    padding-bottom: 50px;
  }

  .promo__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    text-align: center;
    align-self: center;
    color: #fefcf7;
  }

  .promo__text {
    width: 530px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    align-self: center;
    margin-bottom: 100px;
  }

  .promo__cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promo__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 100px;
    width: 350px;
    height: 320px;
    background-color: #0e8784;
    border-radius: 5px;
    color: white;
  }

  .promo__card:nth-child(1) {
    position: absolute;
    right: 820px;
    top: 300px;
    width: 350px;
    height: 320px;
    background-color: #0e8784;
    border-radius: 5px;
    color: white;
    transition: all 1s ease;
  }

  .promo__card:nth-child(1):hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }

  .promo__card:nth-child(2) {
    position: absolute;
    right: 420px;
    top: 300px;
    width: 350px;
    height: 320px;
    background-color: #0e8784;
    border-radius: 5px;
    color: white;
    transition: all 1s ease;
  }

  .promo__card:nth-child(2):hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }

  .promo__card:nth-child(3) {
    position: absolute;
    right: 30px;
    top: 300px;
    transition: all 1s ease;
  }

  .promo__card:nth-child(3):hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }

  .promo__title-card {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-align: center;

    color: #fefcf7;
  }

  .promo__logo {
    width: 62px;
    height: 62px;
    margin: 25px 0;
  }

  .promo__text-card {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;

    color: #fefcf7;
    margin: 20px 0;
  }
}
