.our {
  width: 100%;
  margin-top: 100px;
}

.our__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our__left {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-left: 100px;
}

.our__img {
  margin-left: 70px;
}

.our__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #333d4b;
}

.our__text {
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #333d4b;

  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 30px 0;
}

@media only screen and (max-width: 480px) {
  .our {
    width: 90%;
    flex-direction: column;
    padding: 15px 0;

    .our__img {
      width: 100%;
      height: auto;
    }
    .our__left {
      margin: 25px 0;
      width: 100%;
      align-self: center;
      text-align: center;
    }
  }
}
