.work {
  width: 100%;
  margin-top: 100px;
}

.work__container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.work__items {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 150px;
  margin-top: 70px;
}

.work__item {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 300px;
  height: 250px;
}
.work__item:hover {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background-color: burlywood;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.work__item:active {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background-color: rgb(255, 145, 0);
  border-radius: 15px;
  transition: all 0.3s ease;
}

.work__title {
  align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #83888f;
}

.work__title-item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */

  color: #333d4b;
  margin: 20px 0;
}

.work__text-item {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #333d4b;
}

@media only screen and (max-width: 480px) {
  .work {
    width: 90%;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;

    .work__title {
      text-align: center;
      align-self: center;
    }
  }
}
