.intro {
  height: 500px;
  background-image: url("../images/Bitmap\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.intro__container {
  display: flex;
  flex-direction: column;
}

.intro__left {
  margin: 0 100px;
}

.intro__title {
  width: 500px;
  height: 150px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-top: 120px;
}

.intro__text {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .intro {
    width: 90%;
    height: auto;
    padding: 20px 20px;

    .intro__title {
      font-size: 35px;
    }
    .intro__text {
      width: 100%;
      margin: 20px 0;
    }
  }
}
