.quality {
  width: 100%;
  margin-top: 120px;

  .quality__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c343e;
    border-radius: 10px;
  }

  .quality__box {
    width: 1200px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 70px;
  }

  .quality__title {
    align-self: start;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    color: #fefcf7;
  }

  .quality__text {
    align-self: start;
    width: 540px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 30px 0;
  }

  .quality__logo {
    position: absolute;

    top: 1170px;
    right: 350px;

    width: 400px;
    height: 400px;
  }
}

@media (max-width: 375px) {
  .quality__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .quality__title {
      width: 20%;
      align-self: start;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 27px;
      line-height: 25px;
      /* identical to box height, or 120% */
      margin: auto;
      color: #fefcf7;
      text-align: center;
      margin-top: 130px;
    }

    .quality__text {
      width: 20%;
      align-self: start;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      /* or 162% */

      color: #fefcf7;

      mix-blend-mode: normal;
      opacity: 0.8;
      margin: auto;
      text-align: center;
    }

    .quality__logo {
      width: 220px;
      height: 156px;
      border-radius: 20px;
      position: absolute;
      top: 1300px;
      right: 45px;
    }
  }
}

@media (max-width: 750px) {
  .quality__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;

    .quality__title {
      width: 500px;
      align-self: center;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 37px;
      line-height: 35px;
      /* identical to box height, or 120% */
      margin: auto;
      color: #fefcf7;
      margin-top: 190px;
    }

    .quality__text {
      width: 540px;
      align-self: start;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* or 162% */

      color: #fefcf7;

      mix-blend-mode: normal;
      opacity: 0.8;
      margin: auto;
      text-align: center;
    }

    .quality__logo {
      width: 570px;
      height: 320px;
      border-radius: 20px;
      position: absolute;
      top: 1080px;
      right: 88px;
    }
  }
}
